discord~=1.7.3
aiohttp~=3.7.4.post0
Pillow~=8.2.0
youtube_dl
setuptools~=56.0.0
requests~=2.25.1
pymongo[srv]>=3.12.0
psycopg2~=2.9.1
spotipy~=2.18.0
spotify_dl~=2.5
aiosqlite>=0.17.0
motor>=2.5.0
aiopg>=1.3.1
aiomysql~=0.0.21
